$white: #FFFFFF;
$river-bed: #737373;
$blue-light: #816cb2; // #39AFBB
$blue: #3597C3;
$copy:#F5F5F5;
$blue-strong: #327EC7;
$section-2: #F7F7F7;
$privacy: #E5E5E5;
$transparent: transparent;
$linear:  linear-gradient(90deg, #50B9B6 0%, #3F74B7 100%);
// social
$facebook: #3C5998;
$twitter: #54ACEE;
$youtube: #CD201F;
$insta: #3F729B;
$instdd: #3bafbf
/*
nav bar: transparent

hero: img

btn: $blue-light
text: $text


section 1: $white
section 2: $section-2
section 3: $white

carosel: $linear
*/
// #816cb2
// #39AFBB