$white: #FFFFFF;
$river-bed: #46525f;
$blue-light: #3AAFBF;
$blue: #3597C3;
$blue-strong: #327EC7;
$section-2: #F7F7F7;
$text: #363636;
$transparent: transparent;
$linear:  linear-gradient(90deg, #50B9B6 0%, #3F74B7 100%);
// social
$facebook: #3C5998;
$twitter: #54ACEE;
$youtube: #CD201F;
$facebook: #3C5998;
$insta: #3F729B;

/*
nav bar: transparent

hero: img

btn: $blue-light
text: $text


section 1: $white
section 2: $section-2
section 3: $white

carosel: $linear
*/