@use './partials/variables' as *;

///   bootstrap e fontawesome
$fa-font-path: './webfonts';
// @import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import 'bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// @import '@fortawesome/fontawesome-free/scss/solid.scss';
body{
    font-family: 'Roboto', sans-serif;
    color: $river-bed;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.br{
    height: 2px;
    margin: 20px 0;
    // width: 300px;
    img{
     height: 100%;
     width: 200px;
     transform: translate(0,-100%);
    }
 }

.al-container{
    padding: 0 25%;
}
section{
    padding: 150px 0;
}
section:nth-child(2){
    background-color: $section-2;
}
section{
    span, p{
        line-height: 40px;
    }
}

// btn
button{
    padding: 10px 20px;
    text-transform: uppercase;
}
button.blue{
    border: none;
    background-color: $blue-light;
    color: $white;
    transition: background-color 0.5s;
}
button.blue:hover{
    background-color: $blue-strong;
}
button.transparent{
    border: 2px solid $white;
    background-color: $transparent;
    color: $white;
    transition: background-color 0.5s;
}
button.transparent:hover{
    background-color: $white;
    border: 2px solid $transparent;
    color: $blue-light;
}

// social
.facebook{
    background-color: $facebook;
}
.instagram{
    background-color: $insta;
}
.twitter{
    background-color: $twitter;
}
.youtube{
    background-color: $youtube;
}
.social{
padding: 0px 10px;
margin: 10px 10px 10px 0;
cursor: pointer;
a{
    color: $white;
    // color: black;
}
}